

<div class="h-100 w-full flex items-center justify-center bg-teal-lightest font-sans">
	<div class="bg-white rounded shadow p-6 m-4 w-full lg:w-3/4 lg:max-w-lg">
        <h1 class="text-3xl font-bold">Todays tasks:</h1>
            <div class="mb-4">
                <h1 class="text-grey-darkest">Todo List</h1>
                <div class="flex mt-4">
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 mr-4 text-grey-darker" placeholder="Add Todo">
                    <button class="flex-no-shrink p-2 border-2 rounded text-teal border-teal hover:text-white hover:bg-teal">Add</button>
                </div>
            </div>

            <% @tasks.each do |task|%>
            <p> Date: <%= task.date %> </p>
            <p> Category: <%= task.category %> </p>
            <p>  <%= link_to "Title", @task %> Task: <%= task.title %> </p>
            <p>  Description: <%= task.desc %> </p>
            <%= button_to "Edit Task", edit_task_path(task), method: :get, class: 'bg-transparent hover:bg-red-500 text-red-700 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded mb-4' %>
            <% end %>
            
            <%= link_to "Create new task", new_task_path %> 
                
                </div>
</div>
