
<h2><%= @task.title%></h2>
<p><%= @task.desc%></p>

<div>
    <%= link_to "Back to tasks list", category_tasks_path %> |
    <%= link_to "Edit this task", edit_category_task_path(@category, @task) %> 
        <%= link_to category_task_path(@category, @task), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
        <i class="fa fa-trash text-red-500" aria-hidden="true"></i>
        <% end %>
</div>