<div class="flex h-100 w-full justify-center">

  <div class="bg-white rounded shadow p-6 mt-4 mb-4 lg:w-3/4 lg:max-w-lg ">
    <div class="flex gap-4">
       <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900"><%= @category.title%></h5>
          <%= link_to edit_category_path(@category) do %>
              <%= inline_svg "svg/edit.svg", class: "h-6 w-6 inline hover:text-indigo-600 transition duration-300" %>
          <% end %>

      <div class="ml-auto">
        <%= button_to @category, method: :delete, data: {turbo_confirm: "Are you sure you want to delete this category?"}, class: "bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-2 rounded transition duration-300" do %>
        <%= inline_svg "svg/trash.svg", class: "h-4 w-4 inline" %>
        <% end %>
      </div>

</div>
   
    <p class="font-bold text-midnight italic text-sm">Description</p>
    <p class=" mb-5 font-normal"><%= @category.desc%></p>

    <div class="flex gap-4">
       
    <%= link_to categories_path do %>
      <%= inline_svg "svg/back-arrow.svg", class: "h-4 w-4 inline hover:text-indigo-600 transition duration-300" %>
    <% end %>

    <%= link_to "Add a new task", new_category_task_path(@category), class:"inline-flex items-center font-bold text-sm"  %>
    </div>
  </div>

</div>
