<!DOCTYPE html>
<html>
  <head>
    <title>Journal App</title>
    <link rel="icon" type="image/x-icon" href="favicon.png">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body style="background-color: #E7E4E6">
     
<!--NAV BAR -->
  <nav class="bg-indigo-600 border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <%= link_to tasks_path, class: "flex items-center space-x-3 rtl:space-x-reverse" do %>
      <!-- Logo -->
        <%= image_tag("whitecheck.png", alt: "Journal App Logo", class: "logo") %>
        <span class="text-2xl font-semibold whitespace-nowrap text-white">Journal App</span>
      <% end %>
      
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-language">
        <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 bg-indigo-600">
          <li class="hover:text-emerald-400 bg-indigo-600 block py-2 px-3 md:p-0 rounded text-white transition duration-300">
              <%= link_to "Tasks", tasks_path %>
          </li>
          <li class="hover:text-emerald-400 bg-indigo-600 block py-2 px-3 md:p-0 rounded text-white transition duration-300">
            <!--Nav bar CATEGORIES-->
            <%= link_to "Categories", categories_path %> 
          </li>
        </ul>
    </div>

      <div class="flex items-center md:order-2 space-x-1 md:space-x-0 rtl:space-x-reverse"> 
          <% if user_signed_in? %> 
        
            <!-- AVATAR -->
            <div class="css-175oi2r" style="width: 25px; height: 25px;"><svg width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="none" data-testid="userAvatarFallback"><circle cx="12" cy="12" r="12" fill="#0070ff"></circle><circle cx="12" cy="9.5" r="3.5" fill="#fff"></circle><path stroke-linecap="round" stroke-linejoin="round" fill="#fff" d="M 12.058 22.784 C 9.422 22.784 7.007 21.836 5.137 20.262 C 5.667 17.988 8.534 16.25 11.99 16.25 C 15.494 16.25 18.391 18.036 18.864 20.357 C 17.01 21.874 14.64 22.784 12.058 22.784 Z"></path></svg></div>

          <div class= "text-white font-bold py-2 px-4 rounded"> Welcome, <%= current_user.email %> !</div> 
          <%= link_to tasks_path, class: "flex items-center space-x-3 rtl:space-x-reverse" do %>
    
          <% end %>

            <%= button_to destroy_user_session_path, method: :delete, class: "bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-2 rounded transition duration-300" do %>
            <%= inline_svg "svg/signout.svg", class: "h-4 w-4 inline" %>
            <% end %>


            <% else %>
            <%= button_to "Sign in", new_user_session_path, class:"bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"  %> 

            <% end %>

    </div>
    
    </div>
  </nav>
<!--end of NAV BAR -->

<div class="h-100 w-full mx-auto items-center justify-center bg-teal-lightest font-sans">
    <!--CSS for alerts -->
    <% if alert.present? %>
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert" id="alertsContainer">
          <strong class="font-bold"><%= alert %></strong>
          
          <button onclick="removeAlerts()" class="ml-2">
            <span class="absolute top-0 bottom-0 right-0 px-4 py-3" >
              <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
            </span>
          </button>
        </div>
       
    <% end %>

    <% if notice.present? %>
      <div class=" bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md" role="alert" id="alertsContainer">
          <strong class="font-bold"><%= notice %></strong>
        </div>
     <% end %>
    
      <div class="h-100 flex items-center justify-center font-sans">
        <%= yield %>
      </div>
  </div>
    
  </body>
</html>

<script>
  function removeAlerts() {
    var alertsContainer = document.getElementById('alertsContainer');
    alertsContainer.remove();
  }

 setTimeout(function() {
  var alertsContainer = document.getElementById('alertsContainer');
  alertsContainer.style.transition = 'opacity 0.5s ease'; 
  alertsContainer.style.opacity = '0'; 
  setTimeout(function() {
    alertsContainer.style.display = 'none'; 
  }, 500);
}, 2800); 

</script>
